<!DOCTYPE html>
<html class='no-js'>
  {% include 'head' %}

  <body class="{% if settings.reverse %}layout-reverse{% endif %}
               {% if settings.overlay %}sidebar-overlay{% endif %}
               {% if settings.colorscheme != 'none' %}theme-base-{{ settings.colorscheme }}{% endif %}">

    {% include 'sidebar' %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.url }}" title="Home">{{ site.name }}</a>
          </h3>
        </div>
      </div>

      <div class="container content">
        {% include 'alerts' %}

        {{ content_for_layout }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

    {{ posthaven.includes_for_body }}

  </body>
</html>

