<h2 class="subheading"><strong>Archive</strong></h2>

<div class="archive">
  <div class="archive-months">
    <h4>Browse By Date</h4>
    <ul>
      {% archive_months %}
        <li>
          <a href={{ month.url }}>{{ month.date }}</a>
          <span class="count">({{ month.count }})</span>
        </li>
      {% endarchive_months %}
    </ul>
    <div class="archive-all-dates">{{ archive.all_dates_link }}</div>
  </div>

  <div class="archive-results">
    {% form 'archive' %}
    {% archive_results %}
      <div class="archive-result">
        <a href="{{ result.url }}">
          <span>{{ result.title }}</span>
        </a>
        <div class="search-highlight">
          {{ result.snippet }}
        </div>
        <div class="archive-date">
          {{ result.date }}
        </div>
      </div>
    {% endarchive_results %}

    <div class="pagination archive-pagination">
      {{ archive.pagination }}
    </div>
  </div>
</div>
